<%= form_for(@movimiento_caja) do |f| %>
  <% if @movimiento_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento_caja.errors.count, "error") %> prohibited this movimiento_caja from being saved:</h2>

      <ul>
      <% @movimiento_caja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
<select name="movimiento_caja[tipo]" id="moviment_caja_tipo">
	<option value="--">--</option>
    <option value="Entrada">Entrada</option>
    <option value="Salida">Salida</option>
</select>
  </div>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
