<h1>Listado de Movimientos de Caja</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Descripcion</th>
    <th>Monto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movimiento_cajas.each do |movimiento_caja| %>
  <tr>
    <td><%= movimiento_caja.tipo %></td>
    <td><%= movimiento_caja.descripcion %></td>
    <td><%= movimiento_caja.monto %></td>
    <td><%= link_to 'Mostrar', movimiento_caja %></td>
    <td><%= link_to 'Editar', edit_movimiento_caja_path(movimiento_caja) %></td>
    <td><%= link_to 'Eliminar', movimiento_caja, method: :delete, data: { confirm: 'Pulse aceptar para eliminar el registro' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movimiento caja', new_movimiento_caja_path %>
