<%= form_for(@ventum) do |f| %>
  <% if @ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% @ventum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
   Comprador </br>
  <select name="ventum[comprador]" id="ventum_comprador">
	<option value="--">--</option>
	<% @listado_empresas.each do |empresa| %>
	   <option value="<%=empresa.nombre%>"><%=empresa.nombre%></option>
	<% end %>
  </select>
  </div>

  <div class="field">
   Producto </br>
  <select name="ventum[producto]" id="ventum_producto">
	<option value="--">--</option>
	<% @listado_productos.each do |producto| %>
	   <option value="<%=producto.nombre%>"><%=producto.nombre%></option>
	<% end %>
  </select>
  </div>

  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :montoTotal %><br />
    <%= f.text_field :montoTotal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
