<%= form_for(@cuenta_por_pagar) do |f| %>
  <% if @cuenta_por_pagar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuenta_por_pagar.errors.count, "error") %> prohibited this cuenta_por_pagar from being saved:</h2>

      <ul>
      <% @cuenta_por_pagar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
	Empresa </br>
  <select name="cuenta_por_pagar[empresa]" id="cuenta_por_pagar_empresa">
	<option value="--">--</option>
	<% @listado_empresas.each do |empresa| %>
	   <option value="<%=empresa.nombre%>"><%=empresa.nombre%></option>
	<% end %>
  </select>
 </div>
  <div class="field">
    <%= f.label :numeroDocumento %><br />
    <%= f.text_field :numeroDocumento %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :fechaEmision %><br />
    <%= f.date_select :fechaEmision %>
  </div>
  <div class="field">
    <%= f.label :fechaVencimiento %><br />
    <%= f.date_select :fechaVencimiento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
