<p id="notice"><%= notice %></p>

<p>
  <b>Empresa:</b>
  <%= @cuenta_por_pagar.empresa %>
</p>

<p>
  <b>Numerodocumento:</b>
  <%= @cuenta_por_pagar.numeroDocumento %>
</p>

<p>
  <b>Monto:</b>
  <%= @cuenta_por_pagar.monto %>
</p>

<p>
  <b>Fechaemision:</b>
  <%= @cuenta_por_pagar.fechaEmision %>
</p>

<p>
  <b>Fechavencimiento:</b>
  <%= @cuenta_por_pagar.fechaVencimiento %>
</p>


<%= link_to 'Editar', edit_cuenta_por_pagar_path(@cuenta_por_pagar) %> |
<%= link_to 'Regresar', cuenta_por_pagars_path %>
