
<h1>Listado de Productos</h1>

<table>
  <tr>
  	<th>Tipo</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Garantia</th>
    <th>Stock</th>
    <th>Stock Optimo</th>
    <th>Margen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productos.each do |producto| %>
  <tr>    
  	<td><%= producto.fampro %></td>
    <td><%= producto.nombre %></td>
    <td><%= producto.precio %></td>
    <td><%= producto.garantia %></td>
    <td><%= producto.stock %></td>
    <td><%= producto.stockOptimo %></td>
    <td><%= producto.margen %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Producto', new_producto_path %>

