<h1>Listado de Familias de Productos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @familia_productos.each do |familia_producto| %>
  <tr>
    <td><%= familia_producto.nombre %></td>
    <td><%= familia_producto.descripcion %></td>
    <td><%= link_to 'Mostrar', familia_producto %></td>
    <td><%= link_to 'Editar', edit_familia_producto_path(familia_producto) %></td>
    <td><%= link_to 'Eliminar', familia_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Familia de Productos', new_familia_producto_path %>
