<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @familia_producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @familia_producto.descripcion %>
</p>


<%= link_to 'Edit', edit_familia_producto_path(@familia_producto) %> |
<%= link_to 'Back', familia_productos_path %>
